<p>
	<% if notional_based_change_disclaimer.size == 1 -%>
		Party gain figures are based on notional election results in <%= notional_based_change_disclaimer.first.name %>, this being the first general election held in that country under a new boundary set.
	<% elsif notional_based_change_disclaimer.size == 4 -%>
		Party gain figures for the whole of the UK are based on notional election results, this being the first general election held under new boundary sets.
	<% else -%>
		Party gain figures are based on notional election results in <%= render :partial => 'country', :collection => notional_based_change_disclaimer, :locals => { :countries => notional_based_change_disclaimer } %>, this being the first general election held in those countries under new boundary sets.
	<% end -%>
</p>