<p class="subnav">
	<%= link_to( 'Current constituencies', constituency_area_list_current_url, :class => 'current' ) %>
	<%= link_to( 'All constituencies', constituency_area_list_url, :class => 'all' ) %>
</p>