<p class="subnav">
	<%= link_to( 'Constituency details', constituency_area_show_url, :class => 'details' ) %>
	<%= link_to( 'Election details', constituency_area_election_list_url, :class => 'elections' ) %>
</p>