<% unless @boundary_sets.empty? %>
	<div id="boundary-sets">
		<%= content_tag( 'h2', 'Boundary sets since 1918' ) %>
		<ol>
			<%= render :partial => 'boundary_set/boundary_set_date', :collection => @boundary_sets %>
		</ol>
	</div>
<% end -%>