<%= content_tag( 'p', "Established by: #{link_to( @boundary_set.order_in_council_title, order_in_council_show_url( :order_in_council => @boundary_set.order_in_council.url_key ) )}".html_safe ) %>

<div id="constituencies">
	<%= content_tag( 'h2', 'Constituency areas' ) %>
	<ol>
		<%= render :partial => 'constituency_area/constituency_area', :collection => @constituency_areas %>
	</ol>
</div>