<%= render :partial => 'established', :object => @boundary_set -%>

<%= render :partial => 'nav' %>

<% unless @constituency_areas.empty? -%>
	<div id="constituencies">
		<%= content_tag( 'h2', 'Constituency areas' ) %>
		<ol>
			<%= render :partial => 'constituency_area/constituency_area', :collection => @constituency_areas %>
		</ol>
	</div>
<% end -%>