<p class="subnav">
	<%= link_to( 'Elections contested', general_election_english_region_party_election_list_url, :class => 'contested' ) %>
	<%= link_to( 'Elections won', general_election_english_region_party_election_won_url, :class => 'won' ) %>
</p>