<%= render :partial => 'previous_next', :object => @boundary_set %>

<%= render :partial => 'boundary_set/nav' %>

<% if @constituency_areas.empty? -%>
	<%= content_tag( 'p', 'Constituency area information is not yet available.' ) %>
<% else -%>
	<div id="constituencies">
		<ol>
			<%= render :partial => 'constituency_area/constituency_area', :collection => @constituency_areas %>
		</ol>
	</div>
<% end -%>