<%= render :partial => 'previous_next', :object => @boundary_set %>

<%= render :partial => 'boundary_set/nav', :object => @boundary_set %>

<% if @general_elections.empty? -%>
	<%= content_tag( 'p', 'General election information is not yet available.' ) %>
<% else -%>
	<div id="general-elections">
		<ol>
			<%= render :partial => 'general_election', :collection => @general_elections %>
		</ol>
	</div>
<% end -%>