<%= render :partial => 'political_party/nav' %>

<div class="table-wrapper">
	<table id="registrations" class="sortable sorted-<%= @order %>">
		<%= render :partial => 'table_head' %>
		<tbody>
			<%= render :partial => 'political_party_registration', :collection => @political_party_registrations %>
		</tbody>
	</table>
</div>