<p>
	<% if vote_change.size == 1 -%>
		This was the first election on a new set of constituency boundaries in <%= vote_change.first.name %>. Vote change calculations in <%= vote_change.first.name %> are based on notional results, which estimate the outcome of the previous election had it been contested on the new boundaries.
	<% elsif vote_change.size == 4 -%>
		This was the first election on a new set of constituency boundaries in the whole of the UK. The vote change calculations are based on notional results, which estimate the outcome of the previous election had it been contested on the new boundaries.
	<% else -%>
		This was the first election on a new set of constituency boundaries in <%= render :partial => 'general_election/notional_based_change_disclaimer/country', :collection => vote_change, :locals => { :countries => vote_change } %>. The vote share calculations in those countries are based on notional results, which estimate the outcome of the previous election had it been contested on the new boundaries.
	<% end -%>
</p>