


body {
    font-family:system-ui;
    line-height:1.4;
    font-size:1.2rem;
	margin: 0;
    text-rendering:optimizeLegibility;
}
p#site-title {
	font-weight: bold;
}
p#site-title a {
	text-decoration: none;
}
main {
	padding: 2rem 0;
}



header, footer {
	background-color: #373151;
	padding: 1em;
		
}
header *, footer * {
	color: #fff;
}
main {
	background-color: #ebe9e8;
	padding: 1em 3em 1em 3em;
}


body main {
    color: #4d4d4d;
    flex: 1 0 auto
}

body,html {
    height: 100% 
}

body {
    background-color: #ebe9e8;
    color: #000;
    display: flex;
    flex-direction: column;
    font-family: National,Arial,Helvetica,sans-serif;
    font-size: 1.125rem;
    line-height: 1.5
}



a {
	text-underline-offset: 0.1em;
	text-decoration-color: lightgray;
}
h1{
    font-weight:normal;
    font-size:2rem;
}
h2{
    font-weight:normal;
    font-size:1.75rem;
}

h1 span.subhead {
	display: block;
	font-size: .8em;
}








#result-summary {
	border: 1px solid #000;
	font-weight: bold;
	padding: 1em;
}
table {
    border-collapse:collapse;
    margin-bottom:10px;
    width:100%
}
table thead {
	background-color: #fff;
	position: sticky;
	top: 0; /* Required for the stickiness */
}
tbody tr:nth-child(2n) {
    background-color:#efefef /* Stripy tables */
}
table.multibody tr:nth-child(2n) {
	background-color: transparent; /* Override stripy tables */
}
table.multibody tr {
	border-bottom: 1.5px solid #eee;
}
table.multibody tr:last-child {
	border-color: #bbb;
}
td, th {
    padding:6px;
    text-align:left
}
td.number {
	text-align: right;
}
ol.previous-next {
	list-style: none;
	padding: 0 0 2em 0;
}
ol.previous-next li.previous {
	float:left;
}
ol.previous-next li.next {
	float: right;
}
p {
	clear: both;
}

/* Party colours */
/* Unspecified party / independent */
td.party {
	border-left: .8em solid #909090;
}
/* Conservative */
td.PP52 {
	border-left-color: #0063ba;
}
/* Sein Fein */
td.PP39 {
	border-left-color: #02665f;
}
/* Brexit / Reform */
td.PP7931 {
	border-left-color: #12b6cf;
}
/* Plaid Cymru */
td.PP77 {
	border-left-color: #348837;
}
/* SDLP */
td.PP55 {
	border-left-color: #4ea268;
}
/* UKIP */
td.PP85 {
	border-left-color: #722889;
}
/* Green */
td.PP63 {
	border-left-color: #78b82a;
}
/* UUP */
td.PP83 {
	border-left-color: #a1cdf0;
}
/* DUP */
td.PP70 {
	border-left-color: #cc3300;
}
/* Alliance */
td.PP103 {
	border-left-color: #cdaf2d;
}
/* Labour */
td.PP53 {
	border-left-color: #d50000;
}
/* Liberal Democrats */
td.PP90 {
	border-left-color: #faa01a;
}
/* SNP */
td.PP102 {
	border-left-color: #fff685;
}