<p id='atoz' class='subnav'>
	<%= render :partial => 'letter', :collection => @letters %><%= link_to( 'Members A to Z', member_list_url ) %>
</p>

<ol id="members">
	<%= render :partial => 'member/member', :collection => @members %>
</ol>
<p>
<%= csv_icon_link(member_list_url( :format => 'csv' ), "Download Member data as a CSV file") %>
</p>