<ol id='atoz'>
	<%= render :partial => 'letter', :collection => @letters %><%= content_tag( 'li', link_to( 'Members A to Z', member_list_url ) ) %>
</ol>

<ol id="members">
	<%= render :partial => 'member/member', :collection => @members %>
</ol>
<p>
<%= csv_icon_link(member_list_url( :format => 'csv' ), "Download Member data as a CSV file") %>
</p>