<p>This website published by the House of Commons Library contains elections results data for the UK House of Commons.</p>

<p>We publish <a href="https://commonslibrary.parliament.uk/topic/parliament-and-elections/elections-elections/">briefing papers</a> including more detailed analysis of election results.</p>

<p>The site includes data for the <a href="/general-elections/1/political-parties">2010</a>, <a href="/general-elections/2/political-parties">2015</a>, <a href="/general-elections/3/political-parties">2017</a> and <a href="/general-elections/4/political-parties">2019</a> general elections. We plan to add to this, including data for earlier general elections and by-elections.</p>

<p>As well as <a href="/general-elections">general election</a> data, the site includes tables for:

<ul>
    <li><a href="/members">Members</a> - candidacies of former and current MPs at general elections since 2010</li>
    <li><a href="/political-parties/winning">Parties</a> - performance of registered parties standing in these elections</li>
    <li><a href="/constituency-areas/current">Constituencies</a> - results by constituency since 2010</li>
</ul>
 
 </p>

<p>The site also lists <a href="/acts-of-parliament">legislation</a> relating to constituency boundaries and boundary changes.</p>

<p>The 2024 general election will be contested on new boundaries. The site includes details of <a href="/general-elections/5/political-parties">notional results for the 2019 election</a> had it been contested on those new boundaries.</p>

<%= content_tag( 'p', "Our #{link_to( 'roadmap', meta_roadmap_url)} sets out our future plans for this site.".html_safe ) %>

<%= content_tag( 'p', "The data this website uses is #{link_to( 'available to query', 'https://psephology-datasette-f3e7b1b7eb77.herokuapp.com/' )} as a #{link_to( 'Datasette', 'https://datasette.io/' )} endpoint. The #{link_to( 'database schema is published', meta_schema_url )} for reference.".html_safe ) %>
