<p>This website published by the House of Commons Library contains elections results data for the UK House of Commons.</p>

<p>We publish more detailed analysis of election results in our <a href="https://commonslibrary.parliament.uk/topic/parliament-and-elections/elections-elections/">briefing papers</a>.</p>

<p>The site includes data for the 2015, 2017 and 2019 general elections. We plan to add to this, including data for earlier general elections and by-elections.</p>

<p>As well as general election data, the site includes tables for:

<ul>
    <li>Members: all candidacies of former and current MPs at general elections since 2015</li>
    <li>Parties: performance of all registered parties standing in these elections</li>
    <li>Constituencies: results by constituency since 2015</li>
</ul>
 
 </p>

<p>The site also lists the legislation relating to constituency boundaries and boundary changes.</p>

<p>The 2024 general election will be contested on new boundaries; the site includes details of notional results for the 2019 election had it been contested on the new boundaries.</p>

<%= content_tag( 'p', "Our #{link_to( 'roadmap', meta_roadmap_url)} sets out our future plans for this site.".html_safe ) %>

<%= content_tag( 'p', "The data this website uses is #{link_to( 'available to query', 'https://psephology-datasette-f3e7b1b7eb77.herokuapp.com/' )} as a #{link_to( 'Datasette', 'https://datasette.io/' )} endpoint. The #{link_to( 'database schema is published', meta_schema_url )} for reference.".html_safe ) %>
