<p>
	<%= link_to( "This constituency of #{election.constituency_group_name}", constituency_area_show_url( :constituency_area => election.constituency_area_id ) ) %>
	was established by the
	<%= link_to( notional_based_change_disclaimer.friendly_label, boundary_set_show_url( :boundary_set => notional_based_change_disclaimer ) ) %>
	. This election was the first held under that boundary set. Any holds, gains and vote change percentages as a result of this election are calculated from notional results.
</p>