<%= render :partial => 'previous_next', :object => @boundary_set %>

<%= render :partial => 'boundary_set/nav', :object => @boundary_set %>


<% if @by_elections.empty? -%>
	<%= content_tag( 'p', 'By-election information is not yet available.' ) %>
<% else -%>
	<div id="by-elections">
		<ol>
			<%= render :partial => 'election/election_with_polling_date', :collection => @by_elections %>
		</ol>
	</div>
<% end -%>