/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* michael rubbish */

.no-results-yet {
	background-color: #e7dff3;
	border: 1px solid #006e45;
	border-color: #5f2db4;
	border-style: solid;
	border-width: 0 0 0 6px;
	margin-bottom:1em;
	padding: 1em;
}
.no-results-yet p {
	margin: 0;
}

.subnav {
	border-color: #006e45;
	border-style: solid;
	border-width: 0 0 1px 0;
	margin-bottom: 1em;
}
.subnav p {
	margin: 0;
	padding: .5em .5em 0 .5em;
}

.subnav a {
	border-bottom: 4px #fff solid;
	color: #006e45;
	display: inline-block;
	text-decoration: none;
  margin-right:0.2rem;
  padding:0 0.2rem;
}

.subnav a:hover {
	background-color: #006e4626;;
}
.subnav a:hover {
	border-bottom-color: #006e45;
}




nav#header-nav {
	border-color: #fff;
	border-width: 0 0 1px 0;
	border-style: solid;
	padding: 0;
}
nav#header-nav a {
	border-bottom: 3px #006e45 solid;
	display: inline-block;
	padding: 0 10px;
}
nav#header-nav a:hover {
	border-bottom-color: #fff;
}


/* nav active */
body.section-legislation nav#header-nav a.legislation {
	border-bottom-color: #fff;
}
body.section-boundary-sets nav#header-nav a.boundary-sets {
	border-bottom-color: #fff;
}

/* subnav active */
body.subsection-acts-of-parliament .subnav a.acts-of-parliament {
	border-bottom-color: #006e45 !important;
}
body.subsection-orders-in-council .subnav a.orders-in-council {
	border-bottom-color: #006e45 !important;
}
body.subsection-constituency-areas .subnav a.constituency-areas {
	border-bottom-color: #006e45 !important;
}
body.subsection-establishing-legislation .subnav a.establishing-legislation {
	border-bottom-color: #006e45 !important;
}
body.subsection-general-elections .subnav a.general-elections {
	border-bottom-color: #006e45 !important;
}
body.subsection-majorities .subnav a.majorities {
	border-bottom-color: #006e45 !important;
}
body.subsection-vote-shares .subnav a.vote-shares {
	border-bottom-color: #006e45 !important;
}
body.subsection-turnouts .subnav a.turnouts {
	border-bottom-color: #006e45 !important;
}
body.subsection-parties .subnav a.parties {
	border-bottom-color: #006e45 !important;
}
	

	


/* end michael rubbish */






a {
  overflow-wrap: break-word;
  word-wrap: break-word;
}


.page-header {
  background-color: #006e45;
  color: #fff;
  padding: 1.5em 0;
  border-top: 1px solid #005434;
}

.page-header h1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1;
}

.page-header a {
  color: #fff;
}

.page-header a:hover {
  color: #fff;
  text-decoration: none;
}

.page-header nav {
  padding-bottom: 1em;
}

h1 span[class="subhead"] {
	font-weight: normal;
}

main {
  padding: 2rem 0;
}

#result-summary {
  border: 1px solid #000;
  padding: 1em;
  margin-bottom: 1em;
}

#result-summary p {
  margin: 0;
}

.table-wrapper {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  font-variant-numeric: proportional-nums;
  margin-bottom: 10px;
  width: 100%;
}

table thead {
  background-color: #006e45;
  color: #fff;
  position: sticky;
  top: 0;
}

table thead a {
  color: #fff;
}

/* Sortable tables */
table.sortable thead a {
  background-image: url("/sort.png");
  background-position: left;
  background-repeat: no-repeat;
  color: #fff;
  display: block;
  padding-left: 1.5em;
  text-decoration: none;
}

table.sortable thead .number a {
  background-position: right;
  padding-right: 1.5em;
}

table.sortable.sorted-ascending thead td a.sorted {
  background-image: url("/sort-up.png");
}

table.sortable.sorted-descending thead td a.sorted {
  background-image: url("/sort-down.png");
}

tbody tr:nth-child(2n) {
  background-color: #efefef;
}

table.multibody tr:nth-child(2n) {
  background-color: transparent;
}

table.multibody tr {
  border-bottom: 1.5px solid #eee;
}

table.multibody tr:last-child {
  border-color: #bbb;
}

td,
th {
  padding: 6px;
  text-align: left;
}

td.number {
  text-align: right;
}

ol.previous-next {
  list-style: none;
  padding: 0 0 2em 0;
}

ol.previous-next li.previous {
  float: left;
}

ol.previous-next li.next {
  float: right;
}

p,
ol {
  clear: both;
}
/* Not specified */
td.party {
  border-left: 0.8em solid #909090;
}
/* Conservative */
td.PP52 {
  border-left-color: #0063ba;
}
/* Sein Fein */
td.PP39 {
  border-left-color: #02665f;
}
/* Brexit / Reform */
td.PP7931 {
  border-left-color: #12b6cf;
}
/* Plaid Cymru */
td.PP77 {
  border-left-color: #348837;
}
/* SDLP */
td.PP55 {
  border-left-color: #4ea268;
}
/* UKIP */
td.PP85 {
  border-left-color: #722889;
}
/* Green Party (England and Wales), Scottish Green Party */
td.PP63, td.PP130 {
  border-left-color: #78b82a;
}
/* UUP */
td.PP83 {
  border-left-color: #a1cdf0;
}
/* DUP */
td.PP70 {
  border-left-color: #cc3300;
}
/* Alliance */
td.PP103 {
  border-left-color: #cdaf2d;
}
/* Labour */
td.PP53 {
  border-left-color: #d50000;
}
/* Liberal Democrats */
td.PP90 {
  border-left-color: #faa01a;
}
/* SNP */
td.PP102 {
  border-left-color: #fff685;
}
/* TUV */
td.PP680 {
  border-left-color: #0c3a6a;
}

.breadcrumb {
  background-color: #e9ecef;
  border-radius: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.5rem;
}

.breadcrumb-item + .breadcrumb-item:before {
  color: #6c757d;
  content: "/";
  float: left;
  padding-right: 0.5rem;
}

.breadcrumb-item + .breadcrumb-item:hover:before {
  text-decoration: underline;
  text-decoration: none;
}

.breadcrumb-item.active {
  color: #6c757d;
}

@font-face {
  font-family: National;
  font-display: swap;
  src: url(/fonts/National-LFS-Book.woff2);
  src: url(/fonts/National-LFS-Book.woff2) format("woff2");
}

@font-face {
  font-family: National;
  font-display: swap;
  font-weight: 500;
  src: url(/fonts/National-LFS-Semibold.woff2);
  src: url(/fonts/National-LFS-Semibold.woff2) format("woff2");
}

body {
  background-color: #ebe9e8;
  color: #000;
  display: flex;
  flex-direction: column;
  font-family: National, Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

body main {
  color: #4d4d4d;
  flex: 1 0 auto;
}

body a {
  color: #2b57ab;
  text-decoration: underline;
}

header {
  background-color: #373151;
}

@media (min-width: 992px) {
  header .p-primary-nav {
    position: absolute;
    right: 15px;
    top: -20px;

  }
}

@media (min-width: 768px) {
  header {
    padding-top: 20px;
    padding-bottom: 0;
  }

  header a.parliament-home svg {
    width: calc(100% - 0.25rem);

  }

  header .product-header {
    margin-top: 20px;
    padding: 20px 0;

  }

  header .title {
    font-size: 2.3rem;
    line-height: 1.1;
  }
}

header a.parliament-home {
  display: inline-block;
  padding: 2px;
}

header a.parliament-home svg {
  width: 159px;
}

header a,
header a:hover {
  color: #fff;
  text-decoration: none;
}

header .product-header {
  border-top: 1px solid #625a75;
  margin-top: 5px;
  padding: 20px 0;
}

header .product-header .title {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1;
}

header #site-title {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1;
}

footer {
  background-color: #373151;
  color: #fff;
  flex-shrink: 0;
  font-size: 1rem;
  line-height: 1.4;
  padding: 10px 0;
}

footer a,
footer a:hover {
  color: #fff;
}

a.skip-to-content {
  border: none;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.context-nav {
  background-color: #625a75;
  color: #fff;
  font-size: 1rem;
  line-height: 1.4;
  padding: 5px 0;
  position: relative;
}

.context-nav .container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.context-nav .container:not(.default-width) {
  width: 100%;
}

.context-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.context-nav a {
  color: #fff;
  text-decoration: underline;
}

.context-nav a:hover {
  color: #fff;
}

.context-nav a:focus {
  box-shadow: 0 0 0 2px #96dcbe;
  color: #373151;
  outline: none;
}

.context-nav .breadcrumb {
  background-color: transparent;
  border-radius: 0;
  display: block;
  margin: 0;
  overflow: visible;
  padding: 0;
  text-overflow: clip;
  width: 100%;
}

.context-nav .breadcrumb li {
  display: inline;
  margin-right: 5px;
}

.context-nav .breadcrumb li:after {
  content: ">";
  font-size: 20px;
  font-weight: 900;
  margin-left: 7px;
}

.context-nav .breadcrumb li:last-child:after {
  display: none;
}

main .inner-content {
  background-color: #fff;
  padding: 1.5rem;
  padding-top: 2rem;
}

ol {
  list-style: none;
  padding: 0;
}

a.csv {
  background-image: url("/csv.png");
  background-repeat: no-repeat;
  display: block;
  height: 32px;
  width: 32px;
}

a.csv span {
  visibility: hidden;
}

#atoz {
  padding-bottom: 2em;
}

#atoz li {
  float: left;
  margin-right: 1em;
}

#cartogram {
  height: 630px;
  max-width: 600px;
  width: 95%;
  border: none;
}

img#schema {
  width: 90%;
}

table thead tr td:first-child {
  border-left: 0.8em solid #006e45;
}
