<p class="subnav">
	<%= link_to( 'Elections and boundary sets', parliament_period_show_url, :class => 'elections' ) %>
	<%= link_to( 'Maiden speeches', parliament_period_maiden_speech_list_url, :class => 'maiden-speeches' ) %>
</p>