<p class="subnav">
	<%= link_to( 'Winning political parties', political_party_winning_list_url, :class => 'won' ) %>
	<%= link_to( 'Contesting political parties', political_party_list_url, :class => 'contested' ) %>
	<%= link_to( 'Political party registrations', political_party_registration_list_url, :class => 'registration' ) %>
</p>