<p class="subnav">
	<%= link_to( 'General elections', political_party_show_url, :class => 'general-election' ) %>
	<%= link_to( 'By-elections', political_party_by_election_list_url, :class => 'by-elections' ) %>
	<%= link_to( 'Registrations', political_party_party_registration_list_url, :class => 'registration' ) %>
</p>