<%= content_tag( 'p', @political_party.disclaimer ) if @political_party.disclaimer %>

<div class="table-wrapper">
	<table>
		<%= render :partial => 'political_party_general_election/table_header' %>
		<tbody>
			<%= render :partial => 'political_party_general_election/general_election', :collection => @general_elections %>
		</tbody>
	</table>
</div>		