<div class="context-nav" role="navigation">
    <div class="container">
	    <nav aria-label="Breadcrumb">
	        <ol class="breadcrumb">
				<% if @crumb -%>
		            <li>
						<%= link_to( 'Election Results', home_url ) %>
		            </li>
					<%= @crumb.html_safe %>
				<% else -%>
					<li>
	                	Election Results
					</li>
				<% end -%>
	        </ol>
        </nav>
    </div>
</div>