<div class="context-nav" role="navigation">
    <div class="container">
	    <nav aria-label="breadcrumb">
	        <ol class="breadcrumb">
	            <li>
					<%= link_to( 'UK Parliament', 'https://www.parliament.uk/' ) %>
	            </li>
	            <li>
					<%= link_to( 'House of Commons Library', 'https://commonslibrary.parliament.uk/' ) %>
	            </li>
				<% if @crumb.empty? -%>
					<li>
		                Election Results
					</li>
				<% else -%>
					<li>
						<%= link_to( 'Election Results', home_url ) %>
					</li>
					<%= render :partial => 'layouts/crumb_item', :collection => @crumb %>
				<% end -%>
	        </ol>
        </nav>
    </div>
</div>


    
	    
	        