<header>
	<p id="site-title"><%= link_to( 'UK Parliament election results', home_url ) %></p>
	<%= content_tag( 'p', "Election results for the UK Parliament from #{$COVERAGE_PERIOD}. Compiled by the House of Commons Library." ) %>
</header>