<div class="no-results-yet">
	<%= content_tag( 'h2', 'General election 2024')%>

	<%= content_tag( 'p', "The House of Commons Library collects and verifies election returns from local authorities before publishing the results. We expect to publish 2024 general election results here, week commencing Monday 15th July. You can read more about election night, counts and how results are announced #{link_to( 'in our explainer', 'https://commonslibrary.parliament.uk/what-happens-when-the-polls-close/') }, and view a list of winning MPs #{link_to( 'on our summary page', 'https://commonslibrary.parliament.uk/research-briefings/cbp-10009/') }.".html_safe ) %>
</div>
