<div class="no-results-yet">
	<%= content_tag( 'h2', 'General Election 2024')%>

	<%= content_tag( 'p', "The results of the 2024 general election will be uploaded to this website on approximately Friday 12th July. Until then we will be collecting and verifying election returns from local authorities. To view 2024 results until then, please visit another website such as #{link_to( 'the BBC', 'https://www.bbc.co.uk/news/election/2024/uk/results' )}.".html_safe ) %>
</div>