<div class="no-results-yet">
	<%= content_tag( 'h2', 'General election 2024')%>

	<%= content_tag( 'p', "The House of Commons Library collects and verifies election returns from local authorities before publishing the results. The results of the 2024 general election are expected to be made available after Friday 12th July. Results are available before verification from #{link_to( 'the BBC 2024 general election results page', 'https://www.bbc.co.uk/news/election/2024/uk/results' )} and other publishers.".html_safe ) %>
</div>



